@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto&display=swap%27');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F3E1E1;
    max-width: 2800px;
    width: 100%;
    margin: 0100px auto;
}

header{
    display: flex;
    max-width: 2800px;
    flex-direction: row;
    width: 100%;
    background-color: #CC655E;
    /* height: 100px; */
    align-items: center;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    position: fixed;
    top: 0;
    z-index: 10;
}

header section{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.logo{
    padding-left: 50px;
}
.menu{
    display: flex;
    align-content: flex-start;
}
.menu ul{
    display: flex;
    /* align-items: flex-start; */
    /* padding: 0 0px 0 50px; */
    /* list-style: none; */
    gap: 60px;
    /* text-decoration:none; */
    margin: 0 3rem;

}



.menu li,a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
}

header form{
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s all;

}
header form:hover , header form ul li a{
    width: 110%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s all;
}
header form button{
    display: grid;
    place-items: center;
}

header form input [type="text"]:placeholder-shown{
    display: none;
    width: 110%;
}
/* tirar duvidas sobre esse bloco de codigo*/


.active{
    display: block;
}
/* não entendi*/

header form.active:hover input[type="text"]:placeholder-shown{
    display: block;
}

header form input[type="text"]{
    background: none;
    border:none;
    outline: none;
    width: 110%;
}

header form span{
    color: black;
    cursor: pointer;
    
}
header button {
    background: none;
    border: none;
}

header li a{
    transition: .6s all; 
}

header li a:hover{
    font-size: 25px;
    color: #3D1C1C;
    font-weight: bolder;
    transition: .6s all;
    background-color: #F3E1E1;
    border-radius: 10px;
    padding: 10px;
}

.carrinho{
    background-color: #F3E1E1;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s all;
    margin: 0  50px;
}

.carrinho:hover{
    background-color: #06F1E3;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s all;
    margin: 0  50px;
}

.carrinho a img {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding-right: 50px ;
}


.botaoEntrar{
    background-color: #F3E1E1;
    width: 110px;
    height: 50px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D1C1C;
    font-weight: bolder;
}


.botaoCadastrar{ 
    background-color: #F3E1E1;
    width: 110px;
    height: 50px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D1C1C;
    font-weight: bolder;
}


.botaoEntrar:hover, .botaoCadastrar:hover{
    background-color: #06F1E3;
    color: white;
    transition: 0.6s all;
}

.carrossel {
    background-color: #2B1010;
    width: 800px;
    margin: 10px auto;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
    height: 400px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
}


.carousel-inner{
    height: 400px;
    background-position: center;
    border-radius: 20px;
}

.carrossel 


main{
    width: 90%;
    margin: 0   auto;
}


.maisOpcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    font-weight: bolder;
    width: 80%;
}


.maisOpcoes div a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    border-radius: 1rem;
    transition: .6s all;
}

.maisOpcoes div a:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 310px;
    border-radius: 1rem;
    transition: .6s all;
}


.maisOpcoes div a img{
    width: 100%;
    border-radius: 1rem;
}


.maisOpcoes div a p{
    width: 100%;
    text-align: justify;
    color: #2B1010;
    font-weight: 300;
    padding: .5rem;
}


.maisOpcoes div{
    margin: 1.2rem;
    border-radius: 1rem;
    background-color: #3d1c1c33;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
}



footer{
    background-color: #CC655E;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
    box-shadow: -2px -3px 7px 1px #cc655ec6;
    justify-content: space-between;
    padding: 0 368px;
    position: relative;
    bottom: -100px;
}

footer div{
    background-color: #F3E1E1;
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 10px 0;
    text-justify: inherit;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px #ac8481fd;
    justify-content: flex-start;
    align-content: flex-start;
    
}

ul li{
    list-style: none;
    padding: .5rem 0;
}

footer a{
    text-decoration: none;
    color: #2B1010;
    text-transform: none;
    
}

footer div a:hover{
    text-decoration: none;
    color: #2B1010;
    text-transform: none;
    font-size: 1.05rem;
    transition: .6s all;
}

footer h2{
    text-align: center;
}

footer ul{
    padding: 0;
}