*:root{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
header {
    height: 10rem;
    display: flex;
    background-color: #3D1C1C;
    align-items: center;
    padding: 1rem;
}

header section{
    width: 50%;
    display: flex;
    height: 10rem;
    background-color: #3D1C1C;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    justify-content: space-between;
    background-color: #3D1C1C;
}

header section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3D1C1C;
}
header ul{
    display: flex;

}

header ul li{
    display: flex;
    padding-left: 2rem;
}

header section div ul li a{
    display: flex;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 2.5rem;
    line-height: 3rem;

    color: #FFFFFF;
}

header input {
    border-radius: 12px;
    margin-left: 2rem;
    /* height: 3rem; */
    color: #000;
    padding: .6rem;
}
#cart{
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}
#esq{
    display: flex;
    justify-content: end;
}

.txtUser{
    font-size: 2rem;
    /* border: 237rem; */
    /* size: -4rem; */
    padding: .6rem;
    /* display: flex; */
    /* align-items: center; */
}
